.album__cover{
    height: 20rem;
    object-fit: cover;
    user-select: none;
}
.playicon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    cursor: pointer;
}
.playicon::before{
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f04b';
    font-size: 4rem;
    z-index: 100;
    color: var(--white);
    transition: transform .3s;
}
.playicon:hover::before{
    transform: scale(1.5);
}
.album__title{
    font-size: var(--font-size-md);
    font-weight: 700;
    display: flex;
}
.album__name{
    font-size: var(--font-size-sm);
    display: flex;
}
