.App{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 6rem 15rem 1fr 8rem;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .App{
    grid-template-rows: 6rem 25rem 1fr 8rem;
  }
}